@model MatrixChallenge.Models.Matrix
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Matrix Calculator</h1>
    

</div>

<div class="row">
    <div class="col-md-6">
        <h2>Determine the size of your Matrix</h2>
       
        @using (Html.BeginForm("NumEntry", "Home"))
        {
            @Html.Label("Rows")
            @Html.ValidationMessageFor(model => model.Rows)
            @Html.EditorFor(m => m.Rows)

            @Html.Label("Columns")
            @Html.ValidationMessageFor(model => model.Columns)
            @Html.EditorFor(m => m.Columns)


            @:<button type="submit">Submit</button>

        }
 
    </div>
  
   
</div>